<%- include('Partials/header'); %>

<h1>About</h1>
<p><%= aboutContent %></p>
<p>We are always looking for ways to improve our content and provide the best possible experience for our readers. If you have any feedback or suggestions, please don't hesitate to reach out to us</p>
<p>Thank you for visiting our website. We hope you find our content informative, inspiring, and enjoyable.</p>
<%- include('Partials/footer'); %>