<%- include('Partials/header'); %>

<h1>Contact</h1>
<p><%= contactContent %></p>

<!-- <p><a href="mailto:patelhet263@gmail.com">Gmail</a></p> -->
<button type="submit" name="submit" class="btn btn-primary"><a href="mailto:patelhet263@gmail.com" style="color: black;">Gmail</a></button>

<%- include('Partials/footer'); %>